<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.OrgMapper">

    <resultMap id="BaseResultMap" type="generator.domain.Org">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="org_level" jdbcType="INTEGER" property="level"/>
        <result column="parent_uuid" jdbcType="VARCHAR" property="parentUuid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="en_name" jdbcType="VARCHAR" property="enName"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
    </resultMap>

    <resultMap id="ChildrenResultMap" type="generator.domain.Org">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="uuid" jdbcType="VARCHAR" property="uuid"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="org_level" jdbcType="INTEGER" property="level"/>
        <result column="parent_uuid" jdbcType="VARCHAR" property="parentUuid"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="en_name" jdbcType="VARCHAR" property="enName"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <collection property="children" select="selectByParentUuid" column="uuid"/>
    </resultMap>

    <resultMap id="GroupResultMap" type="generator.domain.Org">
        <result column="org_level" jdbcType="INTEGER" property="level"/>
        <collection property="children" resultMap="BaseResultMap"/>
    </resultMap>

    <select id="testRecursion" resultMap="ChildrenResultMap">
        select *
        from bifrost_org
    </select>
    <select id="selectByParentUuid" resultMap="BaseResultMap">
        select *
        from bifrost_org
        where parent_uuid = #{parentUuid}
    </select>
    <select id="testGroupBy" resultMap="GroupResultMap">
        select *
        from bifrost_org
    </select>


</mapper>
